* {
    margin: 0;
    padding: 0;
}

body,
form,
form>div,
#itemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

form>div {
    width: 256px;
    gap: 0px
}